#container 
{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.Form-group 
{
    display: flex;
    flex-direction : row;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
input 
{
    padding: 10px;
    width: 200px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
label 
{
    font-size: 24px;
    font-weight: bold;
}
select
{
    padding: 10px;
    width:180px;
    font-size:16px;
}
#activity
{
    width:450px;
}
button 
{
    border: none;
    border-radius: 12px;
    width: 200px;
    padding : 15px;
    font-size: 20px;
    font-weight: bold;
    margin : 20px;
}